@model ConsumeBilleteraWebApi.Models.Balance

@{
    ViewBag.Title = "Balance";
}

<h2>Balance</h2>

<p>
    <h1 id="balance">@Html.DisplayFor(modelItem => Model.balance)</h1>
</p>
<table class="table">
    <tr>
        <th>
            <button id="otra_transaccion">@Html.ActionLink("Otra Transaccion", "Create")</button>
            <button id="historico_transacciones">@Html.ActionLink("Historico de Transacciones", "Index")</button>
        </th>
        <th></th>
    </tr>


</table>
